.cta-btn {
    cursor: pointer;
    color: #fff;
    font: inherit;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1px;

    border: none;
    padding: 1.5rem 2.8rem;
    border-radius: 4rem;
    background-color: #ffa192;
}

.change-question-btn {
    cursor: pointer;
    color: #fff;
    font: inherit;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1px;

    width: 88%;
    border: none;
    border-radius: 2px;
    padding: 1.5rem 2.8rem;
    background-color: #ffa192;
}
