.header {
    height: 9rem;
    display: flex;
    align-items: center;
    box-shadow: 14px 14px 40px 0 rgba(0, 0, 0, 0.1);

    .logo img {
        width: 80%;
    }
}

.links {
    list-style: none;
    display: flex;
    margin-right: auto;

    li {
        font-weight: 600;
        margin: 0 2rem;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: -2rem;
            top: 0;

            height: 120%;
            width: 1px;
            background-color: #e0e0e0;
        }
    }

    i {
        margin-left: 1rem;
        margin-top: 2px;
        color: #272626;
        font-size: 1.4rem;
    }
    
}
