.headings {
    text-align: center;

    h1 {
        margin-top: 6rem;
        margin-bottom: 0;
        font-size: 5.4rem;
        font-weight: 700;
        color: #0a1f44;
    }

    h2 {
        font-size: 2rem;
        font-weight: normal;
        color: #4e5d78;
        margin-top: 0.6rem;
        margin-bottom: 2.4rem;
    }
}

.questions-card {
    margin: 8rem auto;
    width: 66rem;
    padding: 4.4rem 2rem;
    text-align: center;
    border-radius: 8px;
    position: relative;
    box-shadow: 7px 7px 50px 0 rgb(193 199 208 / 48%);

    .emoji {
        background-color: #fff;
        position: absolute;
        top: -10%;
        left: 50%;
        transform: translateX(-50%);

        img {
            transform: scale(0.9);
        }
    }

    h2 {
        color: #0a1f44;
        font-size: 2.8rem;
    }

    h3 {
        color: #4e5d78;
        font-size: 1.9rem;
        font-weight: normal;
        margin-bottom: 4rem;
    }
}

.text-cta {
    text-align: center;
    color: #4e5d78;
    font-size: 2rem;
    margin: 12rem 0;

    span {
        color: #ffa192;
        text-decoration: underline;
    }
}

.why-section {
    color: #fff;
    background-color: #ffa192;
    padding: 8rem 0;
    font-size: 2rem;
    text-align: center;

    position: relative;

    .creators-badge {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        background-color: #fff;
        width: 70rem;
        margin: auto;
        border-radius: 4rem;
        padding: 2.6rem;
        position: absolute;
        top: -6.5%;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 5px 5px 15px 3px rgb(78 93 120 / 13%);

        .avatars {
            position: absolute;
            left: 28%;
            width: 5.4rem;
        }
        
        .avatars:nth-child(2) {
            left: 33%;
        }
        
        img {
            width: 100%;
            border-radius: 50%;
        }

        .text {
            margin-left: 10rem;
            font-weight: 700;
        }
    }

    .container {
        margin: auto;
        max-width: 105rem;
    }

    h3 {
        font-weight: 700;
    }

    p {
        margin-bottom: 4rem;
    }
}
